function RectangleArray.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
call Array.new 1
pop this 0
push argument 0
call Array.new 1
pop this 1
push argument 0
call Array.new 1
pop this 2
push argument 0
call Array.new 1
pop this 3
push argument 0
pop this 4
push pointer 0
return
function RectangleArray.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push this 1
call Array.dispose 1
pop temp 0
push this 2
call Array.dispose 1
pop temp 0
push this 3
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function RectangleArray.generateRandomly 0
push argument 0
pop pointer 0
push constant 0
return
function RectangleArray.get 5
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 1
push argument 1
push this 1
add
pop pointer 1
push that 0
pop local 2
push argument 1
push this 2
add
pop pointer 1
push that 0
pop local 3
push argument 1
push this 3
add
pop pointer 1
push that 0
pop local 4
push local 1
push local 2
push local 3
push local 4
call Rectangle.new 4
pop local 0
push local 0
return
function RectangleArray.insert 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
push argument 2
call Rectangle.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
push this 1
add
push argument 2
call Rectangle.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
push this 2
add
push argument 2
call Rectangle.getLength 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
push this 3
add
push argument 2
call Rectangle.getWidth 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function RectangleArray.drawAll 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 4
lt
not
if-goto WHILE_END0
push pointer 0
push local 1
call RectangleArray.get 2
pop local 0
push local 0
call Rectangle.draw 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function RectangleArray.eraseAll 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 4
lt
not
if-goto WHILE_END0
push pointer 0
push local 1
call RectangleArray.get 2
pop local 0
push local 0
call Rectangle.erase 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function RectangleArray.isGoingToCollide 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push argument 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
return
label IF_FALSE0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
not
if-goto WHILE_END0
push pointer 0
push local 0
call RectangleArray.get 2
pop local 1
push argument 1
push local 1
push argument 2
call Rectangle.isGoingToCollide 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 2
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 2
return
function RectangleArray.isGoingToCover 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
not
if-goto WHILE_END0
push pointer 0
push local 0
call RectangleArray.get 2
pop local 1
push argument 1
call Rectangle.getX 1
push local 1
call Rectangle.getX 1
lt
push argument 1
call Rectangle.getX 1
push argument 3
add
push local 1
call Rectangle.getX 1
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 2
label IF_FALSE0
push argument 1
call Rectangle.getY 1
push local 1
call Rectangle.getY 1
lt
push argument 1
call Rectangle.getY 1
push argument 2
add
push local 1
call Rectangle.getY 1
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 2
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 2
return
