class
Main
{
function
void
main
(
)
{
var
Array
a
;
var
int
length
;
var
int
i
,
sum
;
let
length
eq
Keyboard
.
readInt
(
 How many numbers?  
)
;
let
a
eq
Array
.
new
(
length
)
;
let
i
eq
0
;
while
(
i
lt
length
)
{
let
a
[
i
]
eq
Keyboard
.
readInt
(
 Enter the next number:  
)
;
let
i
eq
i
add
1
;
}
let
i
eq
0
;
let
sum
eq
0
;
while
(
i
lt
length
)
{
let
sum
eq
sum
add
a
[
i
]
;
let
i
eq
i
add
1
;
}
do
Output
.
printString
(
 The average is:  
)
;
do
Output
.
printInt
(
sum
diff
length
)
;
do
Output
.
println
(
)
;
return
;
}
}
